.hide-seek-message{
	position: absolute;
	text-align: center;
	border: 1px solid #fff;border-radius: 6px;
	background: #fff;
	box-shadow: 0 1px 70px rgba(0, 0, 0, 0.5);
}
.hideseek-message-container{
	padding: 10px;
	font-weight: 700;font-size: 16px;
}
.msg-icon-normal,
.msg-icon-success,
.msg-icon-fail,
.msg-icon-wraning{
	display: block;width: 44px;height: 44px;overflow: hidden;margin: 0 auto 10px auto;
	background-image: url(hide-seek-message.png);background-repeat: no-repeat;
}
.msg-icon-normal{background-position: 0 0;}
.msg-icon-success{background-position: 0 -44px;}
.msg-icon-fail{background-position: 0 -88px;}
.msg-icon-wraning{background-position: 0 -132px;}