.hide-seek-tip{
	text-align: center;
	border: 1px solid #ccc;border-radius: 6px;
	background: #fff;
	box-shadow: 0 1px 70px rgba(0, 0, 0, 0.5);
}
.hideseek-tip-container{
	padding: 20px 30px;
	font-weight: 700;font-size: 16px;
}
.msg-icon-normal,
.msg-icon-success,
.msg-icon-error,
.msg-icon-warning{
	display: block;width: 44px;height: 44px;overflow: hidden;margin: 0 auto 10px auto;
	background-image: url(hide-seek-tip.png);background-repeat: no-repeat;
}
.msg-icon-normal{background-position: 0 0;}
.msg-icon-success{background-position: 0 -44px;}
.msg-icon-error{background-position: 0 -88px;}
.msg-icon-warning{background-position: 0 -132px;}

.hide-seek-tip .close{
  position: absolute;top: 3px;right: 3px;
  width: 20px;height: 20px;overflow: hidden;
  text-align: center;line-height: 20px;color: #999;font-size: 22px;font-weight: 400;font-family: Arial;
  cursor: pointer;
  border-radius: 1000px;
}
.hide-seek-tip .close:hover{
  color: #dd0000;
}

/* 动画 */
@-webkit-keyframes bounceIn {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } 
}
@-moz-keyframes bounceIn {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } 
}
@keyframes bounceIn {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } 
}

.bounceIn {
  -webkit-animation: bounceIn 0.3s;
     -moz-animation: bounceIn 0.3s;
          animation: bounceIn 0.3s; 
}